.dropdown button {
    width: 160px;
}

.panel-dropdown{
	width: 160px;
}

.container-fluid{
	padding-top: 10px !important;
}

.telegram-selected{
	color: #FFFFFF;
    background-color: $telegram;
}

.telegram{
	color: $telegram !important;
}
